* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  /* color-scheme: dark; */
}
html::-webkit-scrollbar {
  width: 6px;
}
html::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 5rem;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
header,
section {
  position: relative;
  z-index: 1;
}
.snowfall-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
